<p style="color: green"><%= notice %></p>

<%= render @local_item %>

<div>
  <%= link_to "Edit this local item", edit_local_item_path(@local_item) %> |
  <%= link_to "Back to local items", local_items_path %>

  <%= button_to "Destroy this local item", @local_item, method: :delete %>
</div>
