<!DOCTYPE html>
<html>
  <head>
    <title>Sistema</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap">
  </head>
  
  <body>

  <% if flash[:alert] %>
    <div class = "alert" id="alert">
       <%= flash[:alert] %> 
    </div>
  <% end %>
    <%= yield %>

    
  </body>
</html>
